
.listbox::-webkit-scrollbar {
    width: 0.125rem;
}

.listbox::-webkit-scrollbar-track,
.listbox::-webkit-scrollbar-track-piece,
.listbox::-webkit-resizer,
.listbox::-webkit-scrollbar-corner,
.listbox::-webkit-scrollbar-button {
    display: none;
}

.listbox::-webkit-scrollbar-thumb {
    background: var(--accent);
}

