
html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root, html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.MuiOutlinedInput-notchedOutline {
    border: none !important;
}
